<h1>Automatically Resolved Incidents</h1>

<%= link_to "Export CSV", automated_remediation_path(format: "csv"), class: 'btn btn-primary' %>

<%= column_chart @reported_incidents.group(:resolved_by).count %>

<%= render partial: "incident_format" %>