<h1>Editing reported incident</h1>

<%= render "form", reported_incident: @reported_incident %>

<br>

<div>
  <%= link_to "Show this reported incident", @reported_incident %> |
  <%= link_to "Back to reported incidents", reported_incidents_path %>
</div>
