<h1>Editing reported incident</h1>

<%= render "form", reported_incident: @reported_incident %>

<br>

<div>
  <%= link_to "Cancel", @reported_incident %> |
  <%= link_to "Back to reported incidents", root_path %>
</div>
