<h1>Editing reported incident</h1>

<%= render "form", reported_incident: @reported_incident %>

<br>

<div>
  <%= link_to "Cancel", @reported_incident, class: "btn btn-secondary" %>
  <%= link_to "Back to reported incidents", reported_incident_path, class: "btn btn-primary" %>
</div>
