<h1>Safe Incidents</h1>

<%= link_to "Export CSV", safe_path(format: "csv"), class: 'btn btn-primary' %>

<%= column_chart @reported_incidents.group(:resolved_by).count %>

<%= render partial: "incident_format" %>

<div class="pag-bar mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>